<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div>
        
        <h1>Welcome!</h1>
        
    </div>   
    <div>
        <h2>This is a page dedicated to Andrew NG. Check who he is in the <a href="/about">About</a> section</h2>
    </div> 
    
    <div>
        <h2>Understand the importance of his work in the  <a href="/works">Work</a> section</h2>
       
    </div>
    
</body>
</html>