<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body >
<div class="work-container">   
<div>
    <p>Ng researches primarily in machine learning, deep learning, machine perception, computer vision, and natural language processing; and is one of the world's most famous and influential computer scientists.[23] He's frequently won best paper awards at academic conferences and has had a huge impact on the field of AI, computer vision, and robotics.[24][25]</p>
</div>
<div>
    <p>In 2011, Stanford launched a total of three massive open online courses (MOOCs) on machine learning (CS229a), databases, and AI, taught by Ng, Peter Norvig, Sebastian Thrun, and Jennifer Widom.[37][38] This has led to the modern MOOC movement. Ng taught machine learning </p>
</div>
<div>
    <p>His work subsequently led to his founding of Coursera with Koller in 2012. As of 2019, the two most popular courses on the platform were taught and designed by Ng: "Machine Learning" (#1) and "Neural Networks and Deep Learning" (#2).</p>
</div>
<div>
    <p>Ng is the chair of the board for Woebot Labs, a psychological clinic that uses data science to provide cognitive behavioral therapy. It provides a therapy chatbot to help treat depression, among other things.[42]</p>
</div>
<div>
    <p>From 2011 to 2012, he worked at Google, where he founded and directed the Google Brain Deep Learning Project with Jeff Dean, Greg Corrado, and Rajat Monga.</p>
</div>
<div>
    <p>In 2014, he joined Baidu as chief scientist, and carried out research related to big data and AI.[18] There he set up several research teams for things like facial recognition and Melody, an AI chatbot for healthcare.[3] In March 2017, he announced his resignation from Baidu.[2][19]</p>
</div>
</div>
</body>
</html>