<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body >
    <h1>Below you can read about Andrew Ng's work</h1>  
<div class="work-container"> 
  
<div>
    <h2>Research in Machine Learning</h2>
    <hr>
    <p>Ng researches primarily in machine learning, deep learning, machine perception, computer vision, and natural language processing; and is one of the world's most famous and influential computer scientists.
         He's frequently won best paper awards at academic conferences and has had a huge impact on the field of AI, computer vision, and robotics. <a href="https://en.wikipedia.org/wiki/Andrew_Ng">Source Wikipedia</a></p>
</div>
<div>
    <h2>MOOCs</h2>
    <hr>
    <p>In 2011, Stanford launched a total of three massive open online courses (MOOCs) on machine learning (CS229a), databases, and AI, taught by Ng, Peter Norvig, Sebastian Thrun, and Jennifer Widom. This has led to the modern MOOC movement. Ng taught machine learning. <a href="https://en.wikipedia.org/wiki/Andrew_Ng">Source Wikipedia</a> </p>
</div>
<div>
    <h2>Founder of Coursera</h2>
    <hr>
    <p>His work subsequently led to his founding of Coursera with Koller in 2012. As of 2019, the two most popular courses on the platform were taught and designed by Ng: "Machine Learning" (#1) and "Neural Networks and Deep Learning" (#2). <a href="https://en.wikipedia.org/wiki/Andrew_Ng">Source Wikipedia</a></p>
</div>
<div>
    <h2>Venture Capital</h2>
    <hr>
    <p>Ng is the chair of the board for Woebot Labs, a psychological clinic that uses data science to provide cognitive behavioral therapy. It provides a therapy chatbot to help treat depression, among other things. <a href="https://en.wikipedia.org/wiki/Andrew_Ng">Source Wikipedia</a></p>
</div>
<div>
    <h2>Google</h2>
    <hr>
    <p>From 2011 to 2012, he worked at Google, where he founded and directed the Google Brain Deep Learning Project with Jeff Dean, Greg Corrado, and Rajat Monga. <a href="https://en.wikipedia.org/wiki/Andrew_Ng">Source Wikipedia</a></p>
</div>
<div>
    <h2>Baidu</h2>
    <hr>
    <p>In 2014, he joined Baidu as chief scientist, and carried out research related to big data and AI. There he set up several research teams for things like facial recognition and Melody, an AI chatbot for healthcare.
         In March 2017, he announced his resignation from Baidu. <a href="https://en.wikipedia.org/wiki/Andrew_Ng">Source Wikipedia</a></p>
</div>
</div>
</body>
</html>